.left{
    left: 10px;
    position:fixed;
    }
    .spark {
        margin-top: 10px;
        width: 90px;
        height: 80px;
    }
    .navbar{
        display:inline-block;
        padding: 10px;
    }
    .navbar li{
        display: inline-block;
    }
    .navbar li a{
        font-size: 30px;
        padding: 5px;
        color: cornflowerblue;
        text-decoration: none;
        }
    .navbar li a:hover, .navbar li a:active{
    color: grey;
    text-decoration:none;
    
    }
  
    .right{
    display: inline-block;
    right: 20px;
    position: absolute;
    }
  